/* VideoChat.css */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

.appbar {
  border-radius: 15px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 2px solid black;
  padding: 10px;
}

.features-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.feature-box {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  max-width: 45%;
}

.feature-box:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
